# <center> Projet Analyse de données </center>

## <center> Insertion data dans la base de données </center>

---

## Dataset originel

**source :**

- [Pizza Price Data](https://www.kaggle.com/knightbearr/pizza-price-prediction-real-data)

---

## Importations

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector as msql
from mysql.connector import Error

---

## Visualisation du dataset

In [2]:
dataset = pd.read_csv('pizza_data.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     371 non-null    object
 1   Pizza Name  371 non-null    object
 2   Type        371 non-null    object
 3   Size        371 non-null    object
 4   Price       371 non-null    object
dtypes: object(5)
memory usage: 14.6+ KB

## Conversion de la colonne Price en float

In [3]:
# On remplace les '$'

dataset['Price'] = dataset['Price'].str.replace('$', "")

In [4]:
# On transforme la colonne 
dataset['Price']  = pd.to_numeric(dataset['Price'] ,errors='coerce')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     371 non-null    object
 1   Pizza Name  371 non-null    object
 2   Type        371 non-null    object
 3   Size        371 non-null    object
 4   Price       371 non-null    float64
dtypes: float64(1), object(4)
memory usage: 14.6+ KB

---

## Enregistrement des modifications et création d'un nouveau fichier csv

In [6]:
df = dataset.to_csv('df_pizza.csv', index=False)

In [7]:
df = pd.read_csv('df_pizza.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     371 non-null    object
 1   Pizza Name  371 non-null    object
 2   Type        371 non-null    object
 3   Size        371 non-null    object
 4   Price       371 non-null    float64
dtypes: float64(1), object(4)
memory usage: 14.6+ KB

In [9]:
df.head()

          Company          Pizza Name           Type          Size  Price
0  Domino's Pizza         Hand Tossed  Cheeses Pizza   Small (10")   5.99
1  Domino's Pizza         Hand Tossed  Cheeses Pizza  Medium (12")   7.99
2  Domino's Pizza         Hand Tossed  Cheeses Pizza   Large (14")   9.99
3  Domino's Pizza        Handmade Pan  Cheeses Pizza  Medium (12")   7.99
4  Domino's Pizza  Crunchy Thin Crust  Cheeses Pizza   Small (10")   5.99

---

# <center>Modification du csv</center>

## Chargement du csv

In [10]:
# il faut charger ici le csv où la colonne price a été modifiée en float.
df = pd.read_csv('df_pizza.csv')
df

,Company,Pizza Name,Type,Size,Price
0,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Small (10"")",5.99
1,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Medium (12"")",7.99
2,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Large (14"")",9.99
3,Domino's Pizza,Handmade Pan,Cheeses Pizza,"Medium (12"")",7.99
4,Domino's Pizza,Crunchy Thin Crust,Cheeses Pizza,"Small (10"")",5.99
...,...,...,...,...,...
366,IMO's Pizza,BBQ Chicken Pizza,Specialty Pizzas,"X Large (16"")",23.85
367,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Small (10"")",11.80
368,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Medium (12"")",14.95
369,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Large (14"")",18.65
370,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"X Large (16"")",22.30

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     371 non-null    object
 1   Pizza Name  371 non-null    object
 2   Type        371 non-null    object
 3   Size        371 non-null    object
 4   Price       371 non-null    float64
dtypes: float64(1), object(4)
memory usage: 14.6+ KB

---

Ajout de 3 colonnes au fichier originel : id_company, id_size, id_type.

## Id_company

In [12]:
data = df

In [13]:
# On remplace "Domino's Pizza" par des 1
data = data.replace("Domino's Pizza", 1)


# On remplace "Pizza Hut" par des 2
data = data.replace("Pizza Hut", 2)


# On remplace "Godfather's Pizza" par des 3
data = data.replace("Godfather's Pizza", 3)

# On remplace "IMO's Pizza" par des 4
data = data.replace("IMO's Pizza", 4)


print(data)

     Company           Pizza Name              Type           Size  Price
0          1          Hand Tossed     Cheeses Pizza    Small (10")   5.99
1          1          Hand Tossed     Cheeses Pizza   Medium (12")   7.99
2          1          Hand Tossed     Cheeses Pizza    Large (14")   9.99
3          1         Handmade Pan     Cheeses Pizza   Medium (12")   7.99
4          1   Crunchy Thin Crust     Cheeses Pizza    Small (10")   5.99
..       ...                  ...               ...            ...    ...
366        4    BBQ Chicken Pizza  Specialty Pizzas  X Large (16")  23.85
367        4  Egg-Ceptional Pizza  Specialty Pizzas    Small (10")  11.80
368        4  Egg-Ceptional Pizza  Specialty Pizzas   Medium (12")  14.95
369        4  Egg-Ceptional Pizza  Specialty Pizzas    Large (14")  18.65
370        4  Egg-Ceptional Pizza  Specialty Pizzas  X Large (16")  22.30

[371 rows x 5 columns]

In [14]:
# Création d'une liste qui récupère chaque id_company

liste = []

for element in data['Company']:
    liste.append(element)

print(liste)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [15]:
# Création d'un nouveau df avec une colonne qui récupère tous les éléments de la liste qui contient les id_company 

df_2 = pd.DataFrame({"id_company": liste })

In [16]:
# Conversion de la nouvelle colonne en float

df_2 = df_2.astype(float)

In [17]:
# le type de la colonne a bien été changé

df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_company  371 non-null    float64
dtypes: float64(1)
memory usage: 3.0 KB

In [18]:
# On ajoute la nouvelle colonne id_company à notre dataframe de base
test = pd.concat([data, df_2], axis=1)

In [19]:
# On peut visualiser notre nouveau dataframe 

test

,Company,Pizza Name,Type,Size,Price,id_company
0,1,Hand Tossed,Cheeses Pizza,"Small (10"")",5.99,1.0
1,1,Hand Tossed,Cheeses Pizza,"Medium (12"")",7.99,1.0
2,1,Hand Tossed,Cheeses Pizza,"Large (14"")",9.99,1.0
3,1,Handmade Pan,Cheeses Pizza,"Medium (12"")",7.99,1.0
4,1,Crunchy Thin Crust,Cheeses Pizza,"Small (10"")",5.99,1.0
...,...,...,...,...,...,...
366,4,BBQ Chicken Pizza,Specialty Pizzas,"X Large (16"")",23.85,4.0
367,4,Egg-Ceptional Pizza,Specialty Pizzas,"Small (10"")",11.80,4.0
368,4,Egg-Ceptional Pizza,Specialty Pizzas,"Medium (12"")",14.95,4.0
369,4,Egg-Ceptional Pizza,Specialty Pizzas,"Large (14"")",18.65,4.0
370,4,Egg-Ceptional Pizza,Specialty Pizzas,"X Large (16"")",22.30,4.0

## Id_type

In [20]:
data=test

# On remplace "Cheeses Pizza" par des 1               
data = data.replace("Cheeses Pizza", 1)

# On remplace "Specialty Pizzas" par des 2
data = data.replace("Specialty Pizzas", 2)

# On remplace "Feast Pizzas" par des 3
data = data.replace("Feast Pizzas", 3)

# On remplace "Cheese Pizza" par des 4
data = data.replace("Cheese Pizza", 4)

# On remplace "Classic Recipe Pizzas" par des 5
data = data.replace("Classic Recipe Pizzas", 5)

# On remplace "New Recipe Pizzas" par des 6
data = data.replace("New Recipe Pizzas", 6)

# On remplace "Skinny Pizzas" par des 7
data = data.replace("Skinny Pizzas", 7)

# On remplace "Gluten-Free Pizzas" par des 8
data = data.replace("Gluten-Free Pizzas", 8)

# On remplace "Express Favorites" par des 9
data = data.replace("Express Favorites", 9)

In [21]:
print(data)

     Company           Pizza Name  Type           Size  Price  id_company
0          1          Hand Tossed     1    Small (10")   5.99         1.0
1          1          Hand Tossed     1   Medium (12")   7.99         1.0
2          1          Hand Tossed     1    Large (14")   9.99         1.0
3          1         Handmade Pan     1   Medium (12")   7.99         1.0
4          1   Crunchy Thin Crust     1    Small (10")   5.99         1.0
..       ...                  ...   ...            ...    ...         ...
366        4    BBQ Chicken Pizza     2  X Large (16")  23.85         4.0
367        4  Egg-Ceptional Pizza     2    Small (10")  11.80         4.0
368        4  Egg-Ceptional Pizza     2   Medium (12")  14.95         4.0
369        4  Egg-Ceptional Pizza     2    Large (14")  18.65         4.0
370        4  Egg-Ceptional Pizza     2  X Large (16")  22.30         4.0

[371 rows x 6 columns]

In [22]:
# Création d'une liste qui récupère chaque id_type

liste = []

for element in data['Type']:
    liste.append(element)

print(liste)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 8, 8, 9, 9, 9, 9, 9, 9, 9, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [23]:
# Création d'un nouveau df avec une colonne qui récupère tous les éléments de la liste qui contient les id_type

df_2 = pd.DataFrame({"id_type": liste })

In [24]:
# Conversion de la nouvelle colonne en float

df_2 = df_2.astype(float)

In [25]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id_type  371 non-null    float64
dtypes: float64(1)
memory usage: 3.0 KB

In [26]:
# On ajoute la nouvelle colonne id_company à notre dataframe de base
test = pd.concat([data, df_2], axis=1)

In [27]:
# On peut visualiser de nouveau le dataframe 'test'
test

,Company,Pizza Name,Type,Size,Price,id_company,id_type
0,1,Hand Tossed,1,"Small (10"")",5.99,1.0,1.0
1,1,Hand Tossed,1,"Medium (12"")",7.99,1.0,1.0
2,1,Hand Tossed,1,"Large (14"")",9.99,1.0,1.0
3,1,Handmade Pan,1,"Medium (12"")",7.99,1.0,1.0
4,1,Crunchy Thin Crust,1,"Small (10"")",5.99,1.0,1.0
...,...,...,...,...,...,...,...
366,4,BBQ Chicken Pizza,2,"X Large (16"")",23.85,4.0,2.0
367,4,Egg-Ceptional Pizza,2,"Small (10"")",11.80,4.0,2.0
368,4,Egg-Ceptional Pizza,2,"Medium (12"")",14.95,4.0,2.0
369,4,Egg-Ceptional Pizza,2,"Large (14"")",18.65,4.0,2.0
370,4,Egg-Ceptional Pizza,2,"X Large (16"")",22.30,4.0,2.0

## Id_size

In [28]:
data=test

# On remplace 'Small (10")' par des 1               
data = data.replace('Small (10")', 1)

# On remplace 'Medium (12")' par des 2
data = data.replace('Medium (12")', 2)

# On remplace 'Large (14")' par des 3
data = data.replace('Large (14")', 3)

# On remplace "X-Large (16")" par des 4
data = data.replace('X-Large (16")', 4)

# On remplace 'Medium' par des 5
data = data.replace('Medium', 5)

# On remplace 'Large' par des 6
data = data.replace('Large', 6)

# On remplace 'Personal' par des 7
data = data.replace('Personal', 7)

# On remplace 'Small' par des 8
data = data.replace('Small', 8)

# On remplace 'Mini' par des 9
data = data.replace('Mini', 9)

# On remplace 'Jumbo' par des 10              
data = data.replace('Jumbo', 10)

# On remplace 'X Large (16")' par des 11               
data = data.replace('X Large (16")', 11)

In [29]:
# Création d'une liste qui récupère chaque id_size

liste = []

for element in data['Size']:
    liste.append(element)

print(liste)

[1, 2, 3, 2, 1, 2, 3, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 2, 3, 4, 1, 1, 2, 2, 3, 4, 1, 1, 2, 2, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 3, 4, 1, 1, 2, 3, 4, 1, 5, 6, 7, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 6, 6, 5, 6, 7, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 8, 9, 8, 5, 5, 6, 6, 10, 9, 8, 5, 5, 6, 6, 9, 8, 5, 5, 6, 6, 10, 9, 8, 5, 5, 6, 6, 10, 9, 8, 5, 5, 6, 6, 10, 9, 8, 5, 5, 6, 6, 10, 9, 8, 5, 5, 6, 6, 10, 9, 8, 5, 5, 6, 6, 10, 9, 8, 5, 5, 6, 6, 10, 9, 8, 5, 5, 6, 6, 10, 9, 8, 5, 5, 6, 6, 10, 8, 5, 5, 6, 6, 10, 8, 5, 5, 6, 6, 10, 8, 5, 5, 6, 6, 10, 8, 5, 5, 6, 6, 10, 8, 5, 5, 6, 6, 10, 9, 8, 5, 5, 6, 6, 10, 9, 8, 5, 5, 6, 6, 10, 5, 6, 5, 6, 5, 6, 9, 8, 5, 5, 6, 6, 10, 1, 2, 3, 11, 1, 2, 3, 11, 1, 2, 3, 11, 1, 2, 3, 11, 1, 2, 3, 11, 1, 2, 3, 11]

In [30]:
# Création d'un nouveau df avec une colonne qui récupère tous les éléments de la liste qui contient les id_size 

df_2 = pd.DataFrame({"id_size": liste })

In [31]:
# Conversion de la nouvelle colonne en float

df_2 = df_2.astype(float)

In [32]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id_size  371 non-null    float64
dtypes: float64(1)
memory usage: 3.0 KB

In [33]:
# On ajoute la nouvelle colonne id_company à notre dataframe de base
test = pd.concat([data, df_2], axis=1)

In [34]:
# Visualisation du dataframe 'test'. Les 3 colonnes 'id' sont bien présentes.
test

,Company,Pizza Name,Type,Size,Price,id_company,id_type,id_size
0,1,Hand Tossed,1,1,5.99,1.0,1.0,1.0
1,1,Hand Tossed,1,2,7.99,1.0,1.0,2.0
2,1,Hand Tossed,1,3,9.99,1.0,1.0,3.0
3,1,Handmade Pan,1,2,7.99,1.0,1.0,2.0
4,1,Crunchy Thin Crust,1,1,5.99,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...
366,4,BBQ Chicken Pizza,2,11,23.85,4.0,2.0,11.0
367,4,Egg-Ceptional Pizza,2,1,11.80,4.0,2.0,1.0
368,4,Egg-Ceptional Pizza,2,2,14.95,4.0,2.0,2.0
369,4,Egg-Ceptional Pizza,2,3,18.65,4.0,2.0,3.0
370,4,Egg-Ceptional Pizza,2,11,22.30,4.0,2.0,11.0

## <center>Sauvegarde</center>

In [35]:
# sauvegarde dans un nouveau csv
df = test.to_csv('pizza_id.csv', index=False)

In [36]:
# lecture du nouveau fichier
df = pd.read_csv('pizza_id.csv')

In [37]:
df

,Company,Pizza Name,Type,Size,Price,id_company,id_type,id_size
0,1,Hand Tossed,1,1,5.99,1.0,1.0,1.0
1,1,Hand Tossed,1,2,7.99,1.0,1.0,2.0
2,1,Hand Tossed,1,3,9.99,1.0,1.0,3.0
3,1,Handmade Pan,1,2,7.99,1.0,1.0,2.0
4,1,Crunchy Thin Crust,1,1,5.99,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...
366,4,BBQ Chicken Pizza,2,11,23.85,4.0,2.0,11.0
367,4,Egg-Ceptional Pizza,2,1,11.80,4.0,2.0,1.0
368,4,Egg-Ceptional Pizza,2,2,14.95,4.0,2.0,2.0
369,4,Egg-Ceptional Pizza,2,3,18.65,4.0,2.0,3.0
370,4,Egg-Ceptional Pizza,2,11,22.30,4.0,2.0,11.0

## Fusion dataframe

On ajoute nos trois colonnes 'id' à notre dataframe originel.

In [38]:
# On récupère les 3 colonnes des id
test = df[["id_company", "id_type", "id_size"]]
test

     id_company  id_type  id_size
0           1.0      1.0      1.0
1           1.0      1.0      2.0
2           1.0      1.0      3.0
3           1.0      1.0      2.0
4           1.0      1.0      1.0
..          ...      ...      ...
366         4.0      2.0     11.0
367         4.0      2.0      1.0
368         4.0      2.0      2.0
369         4.0      2.0      3.0
370         4.0      2.0     11.0

[371 rows x 3 columns]

In [39]:
# on charge notre dataset originel (avec modification de la colonne price en float)
df = pd.read_csv('df_pizza.csv')
df

,Company,Pizza Name,Type,Size,Price
0,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Small (10"")",5.99
1,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Medium (12"")",7.99
2,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Large (14"")",9.99
3,Domino's Pizza,Handmade Pan,Cheeses Pizza,"Medium (12"")",7.99
4,Domino's Pizza,Crunchy Thin Crust,Cheeses Pizza,"Small (10"")",5.99
...,...,...,...,...,...
366,IMO's Pizza,BBQ Chicken Pizza,Specialty Pizzas,"X Large (16"")",23.85
367,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Small (10"")",11.80
368,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Medium (12"")",14.95
369,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Large (14"")",18.65
370,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"X Large (16"")",22.30

In [40]:
# on ajoute les 3 colonnes des id
df_final = pd.concat([df, test], axis=1)

In [41]:
# Notre dataframe est désormais complet.
df_final

,Company,Pizza Name,Type,Size,Price,id_company,id_type,id_size
0,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Small (10"")",5.99,1.0,1.0,1.0
1,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Medium (12"")",7.99,1.0,1.0,2.0
2,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Large (14"")",9.99,1.0,1.0,3.0
3,Domino's Pizza,Handmade Pan,Cheeses Pizza,"Medium (12"")",7.99,1.0,1.0,2.0
4,Domino's Pizza,Crunchy Thin Crust,Cheeses Pizza,"Small (10"")",5.99,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...
366,IMO's Pizza,BBQ Chicken Pizza,Specialty Pizzas,"X Large (16"")",23.85,4.0,2.0,11.0
367,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Small (10"")",11.80,4.0,2.0,1.0
368,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Medium (12"")",14.95,4.0,2.0,2.0
369,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Large (14"")",18.65,4.0,2.0,3.0
370,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"X Large (16"")",22.30,4.0,2.0,11.0

---

# <center> MCD </center>

![mcd](Capture_MCD.png)

---

## <center>Insertion des données dans la BDD</center>

## Bdd

In [50]:
# Création de la bdd

try:
    conn = msql.connect(host='localhost', user='root', port='3306', password='root')

    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute('''

CREATE DATABASE IF NOT EXISTS `Brief_pizza` DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci;
USE `Brief_pizza`;
DROP TABLE IF EXISTS `Brief_pizza`;

CREATE TABLE `PIZZA` (
  `id_pizza` INT(11) NOT NULL AUTO_INCREMENT,
  `nom_pizza` VARCHAR(100),
  `price` INT(11),
  `id_type` INT(11),
  `id_size` INT(11),
  `id_company` INT(11),  
  PRIMARY KEY (`id_pizza`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `COMPANY` (
  `id_company` INT(11) NOT NULL AUTO_INCREMENT,
  `nom_company` VARCHAR(42) NOT NULL,
  PRIMARY KEY (`id_company`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `SIZE` (
  `id_size` INT(11) NOT NULL AUTO_INCREMENT,
  `size_pizza` VARCHAR(42) NOT NULL,
  PRIMARY KEY (`id_size`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `TYPE` (
  `id_type` INT(11) NOT NULL AUTO_INCREMENT,
  `type_pizza` VARCHAR(42) NOT NULL,
  PRIMARY KEY (`id_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


    ''')  
        print("La bdd a bien été créée")
except Error as e:
    print("Error while connecting to MySQL", e)

La bdd a bien été créée

## Company

In [51]:
# insertion table company

try:
    conn = msql.connect(host='localhost', port='3306', database='brief_pizza', user='root', password='root')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("Connexion à la bdd: ", record)

        for i in df_final['Company'].unique():
            # %s = valeur insérée 
            sql = "INSERT INTO brief_pizza.company (nom_company) VALUES (%s)"
            cursor.execute(sql, (i,))
            # application des changements à la bdd
            conn.commit()
        print("Insertion data : OK")
except Error as e:
             print("Error while connecting to MySQL", e)

Connexion à la bdd:  ('brief_pizza',)
Insertion data : OK

## Size

In [52]:
# insertion table size

try:
    conn = msql.connect(host='localhost', port='3306', database='brief_pizza', user='root', password='root')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("Connexion à la bdd: ", record)

        for i in df_final['Size'].unique():
            # %s = valeur insérée 
            sql = "INSERT INTO brief_pizza.size (size_pizza) VALUES (%s)"
            cursor.execute(sql, (i,))
            # application des changements à la bdd
            conn.commit()
        print("Insertion data : OK")
except Error as e:
             print("Error while connecting to MySQL", e)

Connexion à la bdd:  ('brief_pizza',)
Insertion data : OK

## Type

In [53]:
# insertion table type

try:
    conn = msql.connect(host='localhost', port='3306', database='brief_pizza', user='root', password='root')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("Connexion à la bdd: ", record)

        for i in df_final['Type'].unique():
            # %s = valeur insérée 
            sql = "INSERT INTO brief_pizza.type (type_pizza) VALUES (%s)"
            cursor.execute(sql, (i,))
            # application des changements à la bdd
            conn.commit()
        print("Insertion data : OK")
except Error as e:
             print("Error while connecting to MySQL", e)

Connexion à la bdd:  ('brief_pizza',)
Insertion data : OK

## Pizza

In [54]:
# insertion table pizza

try:
    conn = msql.connect(host='localhost', port='3306', database='brief_pizza', user='root', password='root')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("Connexion à la bdd: ", record)


        for index, row in df_final.iterrows():
            # %s = valeur insérée 
            sql = "INSERT INTO brief_pizza.pizza (nom_pizza, price, id_type, id_size, id_company) VALUES (%s,%s,%s,%s,%s)"
            cursor.execute(sql, (row['Pizza Name'], row['Price'], row['id_type'], row['id_size'], row['id_company']))
            # application des changements à la bdd
            conn.commit()
        print("Insertion data : OK")
except Error as e:
            print("Error while connecting to MySQL", e)

Connexion à la bdd:  ('brief_pizza',)
Insertion data : OK

## Ajout des clés étrangères

In [55]:
try:
    conn = msql.connect(host='localhost', user='root', port='3306', password='root', database='brief_pizza')

    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute('''

ALTER TABLE `PIZZA` ADD FOREIGN KEY (`id_company`) REFERENCES `COMPANY` (`id_company`);
ALTER TABLE `PIZZA` ADD FOREIGN KEY (`id_size`) REFERENCES `SIZE` (`id_size`);
ALTER TABLE `PIZZA` ADD FOREIGN KEY (`id_type`) REFERENCES `TYPE` (`id_type`);
        
        
        ''')  
        print("Les clées étrangères ont bien été ajoutées.")
except Error as e:
    print("Error while connecting to MySQL", e)

Les clées étrangères ont bien été ajoutées.

---

# Création d'une vue et d'une procédure stockée

In [56]:
# création d'une vue : toutes les pizzas de Domino's Pizza (affiche nom + prix)

try:
    conn = msql.connect(host='localhost', user='root', port='3306', password='root', database='brief_pizza')

    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute('''
        
CREATE View view_pizza_Dominos AS SELECT nom_pizza, price FROM pizza WHERE id_company = 1
            ''')
        
        print("La vue a bien été créée")
except Error as e:
    print("Error while connecting to MySQL", e)

La vue a bien été créée

In [57]:
# création d'une procédure stockée : permet d'ajouter une company à la table company
# appel : CALL ajout_company('nom_company')

try:
    conn = msql.connect(host='localhost', user='root', port='3306', password='root', database='brief_pizza')

    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute('''
        

CREATE PROCEDURE ajout_company(IN p_nom_company VARCHAR(42)) BEGIN INSERT INTO company(nom_company) VALUES (p_nom_company);END
 ''')
        
        print("La procédure a bien été créée")
except Error as e:
    print("Error while connecting to MySQL", e)

La procédure a bien été créée